body {
	font-family: "Times New Roman",serif;
	background-color: #d8da3d; 
}

h1 {
	text-align: center;
	font-family: sans-serif; 
	color:  #4CAF50; 
}



h2 {
	text-align: right;
}


p {
	margin-left: 80px;
	font-size: 14pt;
	color: green;

}

a:link {
	color: blue; border-style: ridge;

}
p.ridge border-style: ridge;

}


a:visited {
color: purple; 
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}